/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import "bootstrap-sprockets"; */
@import "bootstrap";

body {
    overflow-x: hidden; 
}

/*header nav bar*/
.navbar-default {
  background: #69c2ec;
  margin: -1px;
   
}
.navbar-default .navbar-nav li {
  padding-top: 3px;
  padding-right: 10px;
}
.navbar-default .navbar-nav li a {
  color: white;     
  font-size: 20px; 
  font-family: Estrangelo Edessa;
  font-weight: 600;
}
.navbar-default .navbar-nav li a:hover {
  color: white;
  font-size: 20px; 
  font-weight: 700;
}
.navbar-default .navbar-nav .dropdown {
   margin: 0px 0px 0px 0px !important;
}

.navbar-default .navbar-nav .dropdown a:focus, .navbar-default .navbar-nav .dropdown a:hover {
  color: #69c2ec;
  background:white;
}
.navbar-default .navbar-nav .dropdown a {
  color:#69c2ec;
  background:white;
}


.jumbotronhomepage {
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  left: 0;
  background-image: url("http://7xkbd8.com1.z0.glb.clouddn.com/pages1542768438.jpg");
  background-size: cover;
  width:100%;
}
.homepagetext {
  width:85%;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 150px;
  padding: 10px 10px 10px 10px;
  font-family: guardian-egyptt, georgia, serif;
  color: #FFFFFF;
  text-align:center;     
}
.containermember {
   background-size:cover;
   background-image: url("http://7xkbd8.com1.z0.glb.clouddn.com/pagesbg.png");   
   min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  left: 0;
}
.memberbox {
   background: white;
   margin-right: 10px;
   padding-left: 0px;
   padding-top: 20px;
   border-radius: 5px;
}
.memberboxspecify {
   border: 1px solid #969696;
   border-radius: 5px;
   margin: 30px 30px 30px 30px;
   padding: 0px 30px 10px 30px;
}
.searchbox {
   background: white;
   margin-left: 10px;
   margin-right: 0 !important;
   padding: 5px 15px 10px 15px;
   border-radius: 5px;
}

.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  border-radius: 25px;
  transition: border 0.3s;
  margin-left: -40px;
  width: 70%;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
  border-radius: 25px;
}
.input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.input[type="text"]:focus {
  outline: none;
}
.style-2 input[type="select"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  border-radius: 25px;
  transition: border 0.3s;
}

.indexsearchbutton { 
  background: #ea6779;
  text-align: center;
  color: white;
  font-family: georgia;
  font-size: 21px;
  border-color: #ea6779;
  border-radius: 25px;
  border: 1px solid #ea6779;
  padding: 15px 15px 15px 15px;
}
.indexsearchbutton2 { 
  background: white;
  text-align: center;  
  font-family: georgia;
  font-size: 21px;
  border-color: #ea6779;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 15px 15px 15px 15px;
}
.link {
  color:white;
}
.link:hover {
   color:white;
   background:none;
}

.avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 140px;
  height: 140px;
  border: 8px solid rgba(255,255,255,0.7);
}